<div class="inputModal" id="inputModal" th:fragment="modalForm()">
    <div class="modal" tabindex="-1">
        <div>
            <h3 id="titleModal"></h3>
        </div>
        <div>
            <input type="text" id="modalValor" name="valor" class="form-control" placeholder="Digite aqui...">
        </div>
        <div>
            <button class="btn btn-primary" type="button" onclick="enviarModal()">Confirmar</button>
            <button class="btn btn-primary" type="button" onclick="fecharModal()">Fechar</button>
        </div>
    </div>
</div>