.toggle-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.toggle-label {
    margin: 20px 0;
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.option-one,
.option-two {
    position: absolute;
    top: 25%;
    width: 50%;
    height: 100%;
    dis play: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    z-index: 1;
}

.option-one {
    left: 0;
}

.option-two {
    right: 0;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #00adb5;
    border-radius: 20px;
    //transition: transform 0.3s ease;
    z-index: 0;
}

#toggle-switch:checked + .toggle-label .toggle-slider {
    transform: translateX(100%);
}

.controleMes{
    display: none;
    padding: 30px 0;
    margin: 15px auto;
    height: 20%;
    width: 15%;
    justify-content: space-evenly;
}

.controleDia{
    margin: 20px 0;
    height: 20%;
}

#toggle-switch:checked ~ .controleDia {
  display: none;
}

#toggle-switch:checked ~ .controleMes {
  display: flex;
}

#dropAno, #dropMes{
    font-size: larger;
    padding: 6px;
}

.flechas{
    font-size: large;
    padding: 0.4em;
}
#titulo{
    padding: 0.6em;
}