.toggle-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.toggle-label {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.option-one,
.option-two {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    z-index: 1;
}

.option-one {
    left: 0;
}

.option-two {
    right: 0;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #11bc7a;
    border-radius: 20px;
    z-index: 0;
}

#toggle-switch:checked + .toggle-label .toggle-slider {
    transform: translateX(100%);
}

.controleMes{
    display: none;
    padding: 20px 0;
    margin: 20px auto 21px auto;
    column-gap: 7px;
    justify-content: center;
}

.controleDia{
    margin: 15px 0 25px 0;
}

#toggle-switch:checked ~ .controleDia {
  display: none;
}

#toggle-switch:checked ~ .controleMes {
  display: flex;
}

#dropAno, #dropMes{
    font-size: larger;
    padding: 6px;
    background: #cccccc9e;
    border-style: outset;
    border-radius: 5px;
}

.flechas{
    font-size: large;
    padding: 0.5em;
}

.nomeCidade{
    font-size: 1.1em;
    font-weight: bold;
}

.tituloBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
}

.down-label{
    color: red;
    font-weight: bolder;
}
.tempoForaEnquantoDown{
    color:red;
    font-size: 0.85em;
}

#calendario{
    margin: 10px 0;
}

#titulo{
    padding: 0.4em;
    width: 9em;
    font-size: larger;
    font-weight: bold;
}

#formFaltaDeLuz{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#count{
    margin: 15px 0;
}