body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;    text-align: center;
    background-color: rgba(238, 238, 238, 0.75) !important;
    margin: 0px;
}

header {
    background-color: #222831;
    display: flex;
    color: white;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5), 0px -2px 15px rgba(255, 255, 255, 0.47);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 9vh;

    position: sticky;
    top: 0;
    z-index:37;
}

.menu{
    display: flex;

    flex-wrap: wrap;
    overflow: hidden;
    button{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 1200px) {
    .menu{
        justify-content: space-around;
    }
    button{
        padding: 0.5em !important;
    }
    header{
        h1{
            font-size: 1.5em;
        }
    }
}

.backgroundLogin {
    background-image: url("backgroundLogin1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.login{
    margin-top: 15%;
    width: auto;
    height: 35%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 3em 3em 2em 2em;
    input{
        border: 1px solid rgba(0, 0, 0, 0.42);
        border-radius: 4px;
        height: 2.5em;
        margin-top: 1.5em;
        padding-left: 15px;
        margin-bottom: 1em;
    }
    .submit{
        background-color: #393E46;
        color: white;
    }
    .submit:hover{
        background-color: #222831;
    }
    .erro{
        color: red;
    }
    label{
        font-size: 3em;
        font-weight: bold;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background-color: #393E46;
        color: #FFFFFF;
        padding: 7px;
    }
    span{
        font-size: smaller;
    }
}

.btMes{
    margin-left: 1%;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    border: solid #ccc 1px;
}
.city{
    width: 85% !important;
}

.city-auto{
    width: 90% !important;
}

.listaCidades{
    height: 150px;
    overflow: hidden;
    padding-left: 0px;
    width: 10em;
    border: 1px solid #222831;
    list-style: none;
    display: none;
    position: absolute;
    background-color: #00ADB5;
}

.dadosAtual{
    background-color: #222831;
}

th, td {
    padding: 5px;
}

.botoes{
    display: flex;
    justify-content: center;
    margin: 1%;
}
.centro{
    width: 75%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
}

th {
    color: white;
    background-color: #393E46;
}

.inputPequeno{
    width: auto !important;
}

td{
    font-weight: bold;
}

.dado{
    gap: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.background{
    display: none;
    width: 100%;
    z-index: 4;
    position: absolute;
    top:0;
    font-size: 0.8em !important;
    color: rgba(0, 0, 0, 1);
}
.background:hover {
    border: 2px #393E46 solid;
}
.resultadoColuna{
    font-weight: bolder;
    margin-bottom: 0.5em;
    height: 2.3em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.1em;
    text-align: center;
    background-color: rgba(245, 222, 179, 0) !important;
}

a{
    text-decoration: none !important;
    border: none;
}
.resultadoOK:nth-child(even) {
    background-color: rgba(92, 255, 92, 1);
    td:nth-child(odd) {
        background-color: rgba(92, 255, 92, 1);
    }
}
.resultadoOK:nth-child(odd){
    background-color: rgba(0, 255, 0, 1);
    td:nth-child(even) {
        background-color: rgba(92, 255, 92, 1);
    }
}

.linha:nth-child(even) {
    background-color: rgba(238, 238, 238, 0.95);
    td:nth-child(odd) {
        background-color: rgba(238, 238, 238, 0.85);
    }
}
.linha:nth-child(odd){
    background-color: rgba(0, 173, 181, 0.40);
    td:nth-child(even) {
        background-color: rgba(0, 173, 181, 0.35);
    }
}

.centralizar{
    display: flex;
    width: 100%;
    background-color: white;
}

input {
    background: 0;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1em;
    transition: padding 0.3s 0.2s ease;

    &:focus {
        padding-bottom: 5px;
    }
                  &:focus + .line {
                      &:after {
                          transform: scaleX(1);
                      }
                  }
}
.searcher{
    width: 100%;
    padding: 1%;

}

.inputModal{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 35;
    background-color: rgba(0, 0, 0, 0.7);
    .modal{
        background-color: white;
        padding: 3em;
        z-index: 36;
        border-radius: 10px;
    }
}

#buttonTrocarForm{
    appearance: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 255, 0);

}
#buttonTrocarForm:hover{
    background-color: azure;
    font-weight: bolder;
    font-size: large;
}

button{

    appearance: none;
    z-index: 3;
    background-color: #00ADB5;
    color: white;
    padding: 0.8em;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    background-color: rgba(0, 173, 181, 0.79);
}

.formulario{
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    display: inline-block !important;
    width: 2em;
    height: 2em;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.buttonLigarTeste{
    margin-top: 0.3em;
    border-radius: 5px;
    font-size: large;
    padding: 8px;
    width: 50%;
    height: 75%;
    margin-left: 25%;
}

#filtro:hover{
    background-color: #c3c3c3;
    font-weight: bolder;
}

/*wavespawn inicia aqui*/
/*wavespawn inicia aqui*/
/*wavespawn inicia aqui*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}


.text-shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.4s ease-in infinite;
        letter-spacing: 0.4rem;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        transform: translate(-0.5px, -0.5px);
        text-shadow: 0.5px 0.5px 0 var(--color-secondary);
    }
    20% {
        transform: translate(-2px, -2px);
        text-shadow: 0.5px 0.5px 0 var(--color-secondary),
        2px 2px 0 var(--color-tertiary);
    }
    30% {
        transform: translate(-3px, -3px);
        text-shadow: 0.5px 0.5px 0 var(--color-secondary),
        2px 2px 0 var(--color-tertiary), 3px 3px var(--color-quaternary);
    }
    40% {
        transform: translate(-2px, -2px);
        text-shadow: 0.5px 0.5px 0 var(--color-secondary),
        1.5px 1.5px 0 var(--color-tertiary), 3px 3px var(--color-quaternary),
        4px 4px 0 var(--color-quinary);
    }
    50% {
        transform: translate(-4px, -4px);
        text-shadow: 1.5px 1.5px 0 var(--color-secondary),
        2px 2px 0 var(--color-tertiary), 3px 3px var(--color-quaternary),
        4px 4px 0 var(--color-quinary);
    }
    60% {
        text-shadow: 1.5px 1.5px 0 var(--color-secondary),
        2px 2px 0 var(--color-tertiary), 3px 3px var(--color-quaternary),
        4px 4px 0 var(--color-quinary);
    }
    70% {
        text-shadow: 1.5px 1.5px 0 var(--color-secondary),
        2px 2px 0 var(--color-tertiary), 3px 3px var(--color-quaternary);
    }
    90% {
        text-shadow: 1.5px 1.5px 0 var(--color-secondary);
    }
    100% {
        text-shadow: none;
    }
}

.resultadoOK{
    background-color: rgba(92, 255, 92, 1);
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;
}

.resultadoNAOOK{
    background-color: rgba(251, 100, 100, 1);
    width: -webkit-fill-available;
    width: -moz-available;
    text-align: center;

}

iframe{
    width: 100%;
    height: 100%;
}

.flexContainer{
    display: flex;
    width: 100%;

    height: 80rem;
    justify-content: center;

    .flexItem{
        width: 85%;

        height: 90vh;
        margin: 0 1em;
        max-height:100%;
        .city{
            width: 100% !important;
        }
        .miniText{
            font-size: 0.68em;
        }

    }
    .flexItem40{
        width: 40% !important;
        height: 91vh;
    }
    .protocolo{
        text-decoration: underline;
    }
    .protocolo:hover {
        color: rgba(0, 147, 154, 1) !important; /*background*/
        cursor: pointer;
    }
}


/*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
*/


