<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Testador</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="/javascript.js"></script>
    <script th:src="@{/javascript.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/ico.png">

</head>
<body>

<div th:replace="~{header :: header}"></div>
<main>
    <div class="searcher">
        <div>
            <button id="buttonLigar" class="statusTeste" th:attr="onclick='iniciarTeste()'"  >
                <span id="statusTeste">Iniciar teste</span>
            </button>
            <button th:attr="onclick='mostrarHistorico()'" >
                <span>Historico</span>
            </button>
            <button   >
                <span>Filtrar</span>
            </button>
        </div>

        <span style="font-size: larger">🔍︎</span>
        <input type="text" id="search" placeholder="Digite nome/ramal/sigla da cidade para filtrar..." onkeyup="filterTable()">

    </div>


    <br>
    <span style="font-size: small">Desligamento e inicio demoram alguns segundos para atualizar...</span>
    <table class="city" id="dataTable">
        <thead>
        <tr id="@END">
            <th class="dadosAtual" id="cidadeAtual">Nome da cidade: ...</th>
            <th class="dadosAtual" id="velocidadeAtual">Vel</th>
            <th class="dadosAtual" id="statusAtual">PARADO</th>
            <th class="dadosAtual" th:colspan="3" ><span id="loader"></span>
            </th>
        </tr>
        <tr>

            <th>Unidade</th>
            <th>Vel</th>
            <th>Banda</th>
            <th>Data</th>
            <th id="filtro" onclick="
            if(document.getElementById('search').value === 'NÃO'){
                document.getElementById('search').value = 'OK'
            }else{
                document.getElementById('search').value = 'NÃO'
            }
             ; filterTable();"
            >Resultado▲</th>
            <th>Testar</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="cidade : ${cidades}" >
<!--                <tr th:id="${cidade.nome}">-->
<!--                    <td>-->
<!--                        <button class="buttonCidade"><a th:href="@{/unidade/{nome}(nome=${cidade.nome})}" th:text="${cidade.nome}">Nome da cidade</a></button>-->

<!--                    </td>-->
<!--                    <td th:text="${cidade.velocidade}"></td>-->
<!--                    <td id="dados" th:text="${cidade.ultimoTesteBanda}">-->
<!--                    <td th:text="${cidade.dataUltimoTeste}">-->
<!--                    </td>-->
<!--                    <td th:text="${cidade.checkTesteBanda ? 'ULTIMO TESTE OK' : 'ULTIMO TESTE NÃO OK'}"-->
<!--                        th:style="'color: ' + ${cidade.checkTesteBanda ? 'GREEN' : 'RED'}">-->

<!--                    </td>-->
<!--                    <td>-->
<!--                        <button class="buttonLigarTeste"-->
<!--                                th:attr="data-cidade=${cidade.nome}"-->
<!--                                onclick="iniciarTeste(this.getAttribute('data-cidade'))">-->
<!--                            <span>Testar</span>-->
<!--                        </button>-->
<!--                    </td>-->
<!--                </tr>-->

<!--                <tr style="background-color: rebeccapurple" class="resultadoLinha" id="0">-->
<!--                    <td colspan="6" style="padding: 0px 0px 2px 0px">-->
<!--                        <div class="resultadoColuna">-->
<!--                            <div class="resultado"-->
<!--                                 th:each="resultado : ${cidade.getResultados()}"-->
<!--                                 th:attr="data-resultado=${resultado.getResultado()},-->
<!--                               data-velocidade=${cidade.velocidade},-->
<!--                               data-dia=${resultado.getDia()}"-->
<!--                            >-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
            <tr th:id="${cidade.nome}" class="linha">
                <div class="background">
                    <div class="resultado"
                         th:each="resultado : ${cidade.getResultados()}"
                         th:attr="data-resultado=${resultado.getResultado()},
                               data-velocidade=${cidade.velocidade},
                               data-dia=${resultado.getDia()}"
                    >
                    </div>
                </div>
                <td>
                    <span class="dado"><a target="_blank" th:href="@{/unidade/{nome}(nome=${cidade.nome})}" th:text="${cidade.nome}">Nome da cidade</a></span>
                </td>
                <td><span class="dado" th:text="${cidade.velocidade}"></span>
                </td>
                <td><span class="dado" th:text="${cidade.ultimoTesteBanda}"></span>

                <td><span class="dado" th:text="${cidade.dataUltimoTeste}"></span>
                </td>
                <td><span class="dado" th:text="${cidade.checkTesteBanda ? 'ULTIMO TESTE OK' : 'ULTIMO TESTE NÃO OK'}"
                          th:style="'color: ' + ${cidade.checkTesteBanda ? 'GREEN' : 'RED'}"></span>
                </td>
                <td>
                    <button class="ligarTeste "
                            th:attr="data-cidade=${cidade.nome}"
                            onclick="iniciarTeste(this.getAttribute('data-cidade'))">
                        ▶
                    </button>
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>
    <script>
        function iniciarTeste(idCidade) {
            fetch(`/testeBanda`, {
                method: "POST",
                body:  idCidade,
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na requisição: ' + response.statusText);
                    }
                    return response.json(); // Pega a resposta JSON
                })
                .then(data => {
                    if(data.status == "true"){
                        document.getElementById("statusTeste").innerHTML = "TESTE DESLIGADO."
                    }
                    else{
                        document.getElementById("statusTeste").innerHTML = "INICIADO."
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert("Desconectado, entre novamente");
                    window.location.reload();

                });
        }
    </script>
    <script>
        var eventSource = new EventSource("/stream");
        var linha = {
            'nome': '@END',
            'velocidade': '',
        };

        eventSource.onmessage = function (event) {
            event.data = event.data.replace("'", "\"");
            let jsonData = event.data.replace("data:", "");
            let obj = JSON.parse(jsonData);
            if (obj.nome === "@END") {
                console.log("acabou teste")
                document.getElementById(linha.nome).classList.remove("text-shadows")
                document.getElementById("statusAtual").innerHTML = "PARADO";
                document.getElementById("buttonLigar").style.backgroundColor = "#00adb5";

                document.getElementById("loader").classList.remove("loader")
                if(linha.nome !== "@END"){
                    getDataAtualizada(linha.nome);
                }
                linha.nome = "@END";
                document.getElementById("statusTeste").innerHTML = "Iniciar teste";

                linha.velocidade = "";
                return
            }
            if (linha.nome !== obj.nome) {
                console.log('Received troca de cidade: ' + linha.nome + " para " + obj.nome);
                if (linha.nome != "@END") {
                    document.getElementById(linha.nome).classList.remove("text-shadows")

                    getDataAtualizada(linha.nome);
                }
                linha = obj;
            }
            document.getElementById(linha.nome).classList.add("text-shadows")
            document.getElementById("statusAtual").innerHTML = "RODANDO";
            document.getElementById("statusTeste").innerHTML = "DESLIGAR";
            document.getElementById("buttonLigar").style.backgroundColor = "red"
            document.getElementById("loader").classList.add("loader")
            trocarDadosAtuais();
        };

        function getDataAtualizada(id){
            fetch(`/data?idCidade=${id}`, {
                method: "GET",
            })
                .then(response => response.text())
                .then(data => {
                    let jsonData = data.replace("data:", "");
                    let obj = JSON.parse(jsonData);
                    console.log(obj);
                    document.getElementById(id).getElementsByTagName('span')[2].innerHTML = obj.ultimoTesteBanda;
                    document.getElementById(id).getElementsByTagName('span')[3].innerHTML = obj.dataUltimoTeste;
                    document.getElementById(id).getElementsByTagName('span')[4].innerHTML = obj.check ? "OK" : "RUIM";
                    document.getElementById(id).getElementsByTagName('span')[4].style.color = obj.check ? "GREEN" : "RED";

                });
        }

        function trocarDadosAtuais() {
            document.getElementById("cidadeAtual").innerHTML = linha.nome;
            document.getElementById("velocidadeAtual").innerHTML = linha.velocidade;
        }

    </script>
    <script>
        function filterTable() {
            //pega o elemento search, que é a barra de pesquisa, passamos tudo para lower case para evitar erros.
            let input = document.getElementById("search");
            let filter = input.value.toLowerCase();
            // pegamos a tabela as linhas
            let table = document.getElementById("dataTable");
            let tr = table.getElementsByTagName("tr");
            // iteramos as linhas e adicionamos uma variavel de match para caso encontre o que o usuário esta digitando.
            for (let i = 2; i < tr.length; i++) {
                let td = tr[i].getElementsByTagName("td");
                let match = false;
                //iteramos as colunas a procura do texto do filter que o usuário digitou. caso encontre retorna true no match.
                for (let j = 0; j < td.length; j++) {
                    if (td[j]) {
                        let textValue = td[j].textContent || td[j].innerText;
                        if (textValue.toLowerCase().indexOf(filter) > -1) {
                            match = true;
                            break;
                        }
                    }
                }
                //esconte ou mostra linhas da tabela com base no match.
                tr[i].style.display = match ? "" : "none";
            }
        }
    </script>

</main>
</body>
</html>
