<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Testador</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="/javascript.js"></script>
    <script th:src="@{/javascript.js}"></script>
    <link rel="icon" type="image/x-icon" href="/ico.png">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
</head>
<body>

<div th:replace="~{header :: header}"></div>
<div class="searcher">
    <div>
        <h1>
            Configuração
            <span style="color: orange; font-weight: bold"
                  th:if="${status != null}"
                  th:text="'| ' + ${status}">
        </span>
        </h1>
        <h5><s>Alterações de dados aqui funcionam apenas run-time</s>, para alterar em definitivo modifique no arquivo
            de propriedades.</h5>
        <h6 STYLE="color:red">Alterações da configuração foram desabilitadas via run-time</h6>
    </div>


    <div>
        <h3>Host de teste</h3>
        <table STYLE="width: 35%">
            <tr class="linha">
                <td>
                    <label>IP Testador</label>
                </td>
                <td>
                    <input th:value="${ip}" readonly>
                </td>
            </tr>
            <tr class="linha">
                <td>
                    <label>Usuário</label>
                </td>
                <td>
                    <input th:value="${usuario}" readonly>
                </td>
            </tr>
            <tr class="linha">
                <td>
                    <label>Senha</label>
                </td>
                <td>
                    <input th:value="'Boa tentativa homoerectus'" type="password" readonly></input>
                </td>
            </tr>
        </table>
    </div>
</div>

<h3>Salvar host</h3>
<form action="/atualizar" method="POST" id="salvaHost" class="searcher">
    <div style="width: 90%; display:flex; align-items: center;">
        <div class="">
            <label for="nome">Nome</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="nome" name="nome" placeholder="nome...">
        </div>
        <div class="">
            <label for="codigo">Codigo</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="codigo" name="codigo" placeholder="Sigla...">
        </div>
        <div class="">
            <label for="velocidade">Velocidade</label>
            <input form="salvaHost" class="inputPequeno" type="number" id="velocidade" name="velocidade" placeholder="Velocidade, apenas numero!">
        </div>
        <div class="">
            <label for="smokeID">SmokeID</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="smokeID" name="smokeID" placeholder="Id no smoke">
        </div>
        <div class="">
            <label for="cacti">Cacti</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="cacti" name="cacti" placeholder="Id do gráfico cacti">
        </div>
        <div class="">
            <label for="nagios">Nagios</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="nagios" name="nagios" placeholder="Id no nagios">
        </div>
        <div class="">
            <label for="intra">Intra</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="intra" name="intra" placeholder="Codigo intranet...">
        </div>
        <div class="">
            <label for="ip">IP</label>
            <input form="salvaHost" class="inputPequeno" type="text" id="ip" name="ip" placeholder="IP...">
        </div>
        <div class="">
            <label>#</label> <button form="salvaHost" type="submit">Salvar</button>
        </div>
        <div class="">
            <label>#</label> <button form="salvaHost" type="reset" th:onclick="${status} = 'a'">Cancelar</button>
        </div>
    </div>
</form>
<h3>Hosts</h3>

    <script th:inline="javascript">
        let editAtualHost = '';
        function liberarEdicaoHost(host){
            hostClass = host.dataset.id;
            form = document.getElementById(hostClass);
            cancelar = document.getElementById(hostClass + 'cancelar');
            if(editAtualHost.length <= 0){
                cancelar.style.display = 'flex';
                host.innerHTML = 'Salvar';
                editAtualHost = hostClass;
                var inputs = document.getElementsByClassName(hostClass)
                console.log("" + editAtualHost)
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].readOnly = false;
                    inputs[i].className += " inputConfig2";
                }
            }else if (editAtualHost == hostClass){
                form.submit();
            }
        }
    </script>
    <table>
        <tr class="linha">
            <th>Host</th>
            <th>Sigla</th>
            <th>Velocidade</th>
            <th>Smoke</th>
            <th>Cacti</th>
            <th>Nagios</th>
            <th>Intra</th>
            <th>IP</th>
            <th>#</th>
        </tr>
        <tr th:each="host : ${hosts}" class="linha">
            <form th:action="@{/atualizar}" th:method="POST" th:id="${host.nome}">
                <td>
                    <input th:class="inputConfig" th:name="nome" th:value="${host.nome}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="codigo" th:value="${host.codigo}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="velocidade" th:value="${host.velocidade}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="smokeID" th:value="${host.smokeID}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="cacti" th:value="${host.cacti}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="nagiosID" th:value="${host.nagiosID}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="intra" th:value="${host.intra}" readonly></input>
                </td>
                <td>
                    <input th:class="inputConfig + ' ' + ${host.nome}" th:name="ip" th:value="${host.ip}" readonly></input>
                </td>
            </form>
            <td style="display: flex; align-items: center;">
                <button th:attr="data-id=${host.nome}" onclick="liberarEdicaoHost(this)">🖊</button>
                <button th:id="${host.nome} + 'cancelar'" style="display: none;background-color: red" onclick="location.reload()">Cancelar</button>
            <form action="/apagarCidade" method="POST" th:data-host="${host.nome}"
                  onsubmit="return confirm('Tem certeza que quer deletar o host ' + this.getAttribute('data-host') + '?');">
                <input class="inputPequeno" type="text" th:value="${host.nome}" id="nome2" name="nome" hidden="hidden">
                <button type="submit">Apagar</button>
            </form>
        </td>
        </tr>
    </table>
</body>
</html>
