<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ERRO - Testador</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="/javascript.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script th:src="@{/javascript.js}"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>
<body>

<div th:replace="~{fragmentos/header :: header}"></div>
<main>
    <h1>Essa página foi desativada/pausada</h1>
    <img th:src="@{/img.png}" height="512" width="512" />
</main>
</body>
</html>
