<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Verificador diario</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

    <script th:src="@{/javascript.js}"></script>
    <script src="https://unpkg.com/simple-statistics@7.8.8/dist/simple-statistics.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="icon" type="image/x-icon" href="/ico.png">

</head>
<body>
<div th:replace="~{header :: header}"></div>

<h2>Tempo desde a Última Queda</h2>
<h1 id="timer"></h1>
<p id="ultima"></p>

<div id="chartQuedasPorDia" style="width: 70%; height: 300px; margin:auto;"></div>

<div style="display: flex; justify-content: space-around; width: 80%; margin: auto">
    <div id="tempos" style="width: 35%; height: 250px; margin:auto;"></div>
    <div id="stats" style="width: 60%; height: 250px; margin:auto;"></div>
</div>

<label for="seletorCidade">Cidade:</label>
<select name="cidade" id="seletorCidade"></select>
<button onClick="novaCidade(cidadeAleatoria())">Aleatória</button>

<div id="chartTempoPorCidade" style="width: 70%; height: 250px; margin:auto;"></div>
<div id="chartQuedasPorCidade" style="width: 70%; height: 250px; margin:auto;"></div>

<div style="display: flex; justify-content: space-around; width: 80%; margin: auto">
    <div id="temposCid" style="width: 35%; height: 250px; "></div>
    <div id="statsCid" style="width: 60%; height: 250px; "></div>
</div>

</body>

<script type="text/javascript" th:inline="javascript">
    const quedas = /*[[${quedas}]]*/ null;
</script>
<script th:src="@{/graficosCalendario.js}"></script>

</html>
