<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Testador</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

    <script th:src="@{/javascript.js}"></script>

    <script src="https://unpkg.com/simple-statistics@7.8.8/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="icon" type="image/x-icon" href="/ico.png">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <style>
        .borda{
            border: solid 1px gray;
            border-radius: 10px;
        }
        .tooltip{
            color: #00adb5;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div th:replace="~{header :: header}"></div>

    <div class="borda" style="width: 30em; margin: auto; margin-top: 15px;">
        <h2>Tempo desde a Última Queda</h2>
        <h1 id="timer"></h1>
        <p id="ultima"></p>
    </div>

    <label for="dropAno">Ano: </label>
    <select id="dropAno" style="margin-top: 15px;">
        <option th:each="ano : ${#numbers.sequence(quedas.getLast().getData().getYear(),
                                                   quedas.getFirst().getData().getYear())}"
                th:value="${ano}"
                th:text="${ano}" ></option>
    </select>

    <div style="width:85%; margin: auto;">
        <div id="chartQuedasPorDia" style="width: 70%; height: 250px; margin:auto;"></div>

        <label id="total"></label>

        <div style="display: flex; justify-content: space-around; width: 80%; margin: auto">
            <div id="tempos" style="width: 35%; height: 300px; margin:auto;"></div>
            <div id="stats" style="width: 60%; height: 300px; margin:auto;"></div>
        </div>

        <label for="seletorCidade">Cidade:</label>
        <select name="cidade" id="seletorCidade"></select>
        <button id="aleatoria">Aleatória</button>

        <div id="chartTempoPorCidade" style="width: 70%; height: 250px; margin:auto;"></div>
        <div id="chartQuedasPorCidade" style="width: 70%; height: 250px; margin:auto;"></div>

        <div style="display: flex; justify-content: space-around; width: 80%; margin: auto">
            <div id="temposCid" style="width: 35%; height: 300px;"></div>
            <div id="statsCid" style="width: 60%; height: 300px;"></div>
        </div>
    </div>

</body>

<script type="text/javascript" th:inline="javascript">
    const quedas = /*[[${quedas}]]*/ null;
</script>
<script th:src="@{/graficosCalendario.js}"></script>

<script>

    //  *** Tempo desde última queda com contador  ***
    const ult = new Date(quedas[0].data)
    const agr = new Date()
    let segundosT = Math.floor((agr - ult) / 1000)

    function pad(num){return num <= 9 ? "0" + num : "" + num;}

    function timer(){
        let timer = document.getElementById("timer")
        ++segundosT
        const dur = segundosParaDuration(segundosT)

        timer.innerText = `${pad(dur.hours)}:${pad(dur.minutes)}:${pad(dur.seconds)}`
    }
    let txtUlt = ""
    let tempoUltima = segundosParaDuration(quedas[0].tempoFora).round("minutes")
    if(quedas[0].tempoFora > 0){
        txtUlt = '(' + quedas[0].nomeCidade + " por "
                + tempoUltima.toLocaleString('pt') + ')'
    }else{
        txtUlt = '(' + quedas[0].nomeCidade + " atualmente DOWN)"
    }
    document.getElementById("ultima").innerText = txtUlt
    timer()
    setInterval(timer, 1000)



    //  ***  Dropdown de seleção de cidades  ***
    function fazDropCidades(){
        let select = document.getElementById("seletorCidade")
        const lista = listaCidades()

        lista.forEach(cid => {
            let elem = document.createElement('option')
            elem.value = elem.innerText = cid
            select.appendChild(elem)
        })
    }
    window.addEventListener('load', fazDropCidades)



    //  *** Funcionalidade do dropdown e do botão de cidade aleatória  ***
    let aleatoria = document.getElementById("aleatoria")
    let inputCidade = document.getElementById("seletorCidade")
    let dropAno = document.getElementById("dropAno");

    dropAno.addEventListener('change', novoAno)

    inputCidade.addEventListener('change', () => {
        let input = document.getElementById("seletorCidade")
        let ano = document.getElementById("dropAno").value
        novaCidade(input.value, ano)
    })

    aleatoria.addEventListener('click', () => {
        let ano = document.getElementById("dropAno").value
        novaCidade(cidadeAleatoria(), ano)
    })

</script>

<script>

    //  *** Montagem inicial da página  ***
    let anoAtual = new Date().getFullYear()
    dropAno.value = anoAtual

    let total = document.getElementById("total")
    total.innerText = "Total de quedas no ano: " + quedas.filter(q => q.data.substring(0,4) == anoAtual).length

    fazGraficoQntQuedasTodas(document.getElementById('chartQuedasPorDia'), quedas, anoAtual)

    fazGraficoEstatisticas(document.getElementById("stats"), quedas, anoAtual)
    fazGraficoQntPorTempo(document.getElementById("tempos"), quedas, anoAtual)

    window.addEventListener('load', () => novaCidade(cidadeAleatoria(), anoAtual))


</script>

</html>
