<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Testador</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="/javascript.js"></script>
    <script th:src="@{/javascript.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script th:src="@{/graficosjs/graficos.js}"></script>
    <script src="
https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js
"></script>
    <link rel="icon" type="image/x-icon" href="/ico.png">

</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="botoes">
    <div class="btMes">
        <button   id="todos" onclick="atualizarMes('todos') ">
            Todos
        </button>
    </div>

    <div class="btMes"  th:each="mes : ${alertas.getMesDisponibilidades()}">
        <button th:text="${mes.getNomeMesPtBr()}" th:id="${mes.month.name()}" onclick="atualizarMes(this.id)">
        </button>
    </div>
</div>
<div class="main-container">

    <div class="nav-container">
        <nav class="navbar">
            <div>
                <input id="cidadeBuscar" type="text" placeholder="Digite a cidade..." onchange="atualizarNome(this.value)" >
            </div>
            <div>
                <label for="dropAno" style="display:none;">Ano: </label>
                <select id="dropAno">
                    <option value="" selected disabled hidden>Ano</option>
                    <option th:each="ano : ${alertas.listaAnos}"
                            th:value="${ano}"
                            th:text="${ano}" ></option>
                </select>
            </div>

            <a href="#1">Disponibilidade</a>
            <a href="#2">Cidades e energia</a>
            <a href="#3">Mensal</a>
        </nav>

    </div>
    <div class="content-container">
        <div class="centralizar" id="1">
            <div id="chart-indisponibilidade" style="width: 50%; height: 750px"></div>
            <div id="chart-porcentagem" style="width: 50%; height: 750px"></div>
        </div>
        <div class="centralizar" id="2">
            <div id="chart-quedasCidades" style="width: 50%; height: 750px"></div>
            <div id="chart-quedasCidadesEnergia" style="width: 50%; height: 750px"></div>

        </div>
        <div class="centralizar" id="3">
            <div id="chart-quedas" style="width: 100%; height: 750px"></div>
        </div>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    quedas = [[${alertas.getQuedas()}]];
    dados = [[${alertas.mesDisponibilidades}]]
    document.addEventListener("DOMContentLoaded", function () {
        graficoDeAlertasPorCidadeEMes();
        atualizarGraficoIndisponibilidade();
    });
    dropAno.addEventListener('change', () => {
        window.location.pathname = "/grafico/" + dropAno.value
    })
</script>
</body>
</html>
