
<div th:fragment="~{header :: header}">
    <header>
        <h1>⌛ Testador Mikrotik <span style="font-size: 0.5em">v.2.6.1 🔥</span></h1>
        <div class="menu">
            <a href="/grafico">        Dados 📈</a>
            <a href="/graficos2">      +Dados</a>
            <a href="/historicoQuedas">Quedas 🔎</a>
            <a href="/configuracao">   Configuração 🔧</a>
            <a href="/cidades">        Siglas 📖</a>
            <a href="/cidadesBanda">   Verificação de tráfego 🌐</a>
        </div>
    </header>
</div>