<!-- templates/fragments/header.html -->
<div th:fragment="~{header :: header}">
    <header>
        <h1>⌛ Testador </h1>
        <div class="menu">
            <button onclick="location.href='../dispositivos'">Dispositivos OFF</button>
            <button onclick="location.href='../hosts-caiu'">Caidas do mês</button>
            <button onclick="location.href='../hosts-caiu-dia'">Caidas do dia</button>
            <button onclick="location.href='../cidades'">Siglas</button>
            <button onclick="location.href='../cidadesBanda'">Verificação de tráfego</button>
        </div>
    </header>
</div>