<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Testador</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/historicoQuedas.css}">
    <script th:src="@{/javascript.js}"></script>
    <script th:src="@{/fragmentosjs/popup.js}"></script>
    <script th:src="@{/fragmentosjs/info.js}"></script>
    <script th:src="@{/fragmentosjs/acompanhamento.js}"></script>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
</head>
<body>
<main>
    <div th:replace="~{header :: header}"></div>
    <div th:replace="~{fragmentos/popup :: modalForm()}"></div>

    <img th:src="@{\info.png}" alt="info" class="infoBtn" onclick="showInfo('quedas')">

    <div class="flexContainer">
        <div id="nagmap" class="flexItem" style="display:none;">
            <button class="expandirMapa" onclick="expandirMapa()" title=" X ">
                <span id="expandirTexto">Expandir</span>
            </button>
            <iframe src="http://nagiosmpls.mp.rs.gov.br/nagmapv2.1/" title="description" class="iframeNagmap"></iframe>
        </div>
        <div id="listaQuedas" class="flexItem quedasSemMapa">

            <div class="controleHistQuedas">

                <input type="checkbox" id="toggle-switch" hidden>

                <div class="controleDia">
                    <label for="calendario">Data:</label>
                    <input
                            type="date"
                            id="calendario"
                            name="calendario"
                            th:value="${datas.getFirst()}"
                            th:min="${datas.getLast()}"
                            th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                    <button id="hoje" onclick="diaHoje()" title="Home">Hoje</button>
                    <div id="diaDaSemana"></div>
                </div>

                <div class="controleMes">
                    <label for="dropAno" style="display: none">Ano:</label>
                    <select id="dropAno">
                        <option th:each="ano : ${#numbers.sequence(datas.getLast().getYear(), datas.getFirst().getYear())}"
                                th:value="${ano}"
                                th:text="${ano}"></option>
                    </select>

                    <label for="dropMes" style="display: none">Mes:</label>
                    <select id="dropMes">
                        <option th:each="mes : ${#numbers.sequence(0, 11)}"
                                th:value="${mes+1}"
                                th:text="${ #temporals.monthName(datas.getFirst().withMonth(mes+1)).substring(0,1).toUpperCase() +
                                        #temporals.monthName(datas.getFirst().withMonth(mes+1)).substring(1)}"></option>
                    </select>
                </div>

                <div class="tituloBox">
                    <div style="white-space:nowrap;">
                        <button id="diaAntes" class="flechas" onclick="setasData(-1)" title=" ← ">&lt;</button>
                        <label th:text="${titulo}" id="titulo"></label>
                        <button id="diaDepois" class="flechas" onclick="setasData(1)" title=" → ">&gt;</button>
                    </div>
                    <div id="count"></div>
                </div>



                <label for="toggle-switch" class="toggle-label">
                    <span class="option-one">Dia</span>
                    <span class="option-two">Mês</span>
                    <span class="toggle-slider"></span>
                </label>

            </div>


            <table class="city" id="dataTable">
                <thead>
                <tr class="linha">
                    <th>Quedas</th>
                    <th>Tempo Fora</th>
                    <th>Uptime</th>
                    <th>Energia</th>
                    <th>Protocolo</th>
                    <th>Chamado</th>
                    <th>Ações GLPI</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="queda : ${quedas}" class="linha">
                    <td class="nomeCidade" th:if="${queda.cidade != null}">
                        <div id="graficoSmoke2">
                            <span class="trigger-grafico" th:attr="data-cidade=${queda.cidade.smokeID}, data-id=${queda.id}"
                                  onmouseover="getGraficoSmoke(this)">
                                📈
                                <div class="img-popup">
                                    <img th:id="${queda.cidade.smokeID + queda.id}" src="" alt="Gráfico Smokeping">
                                </div>
                            </span>
                            <a th:class="${queda.cidade.nome.length() > 20 ? 'nomeGrande' : ''}"
                               target="_blank"
                               th:href="@{/unidade/{nome}(nome=${queda.cidade.nome})}"
                               th:text="${queda.cidade.nome}">
                            </a>

                            <br>
                            <label class="miniText" th:text="${'Em ' + queda.data.toLocalDate() + ' às ' + queda.data.toLocalTime()}"></label>
                        </div>
                    </td>
                    <td class="nomeCidade" th:unless="${queda.cidade != null}">
                        <label th:text="${queda.nomeCidade}"></label>
                        <br>
                        <label class="miniText"
                               th:text="${'Em ' +queda.data.toLocalDate() + ' às ' + queda.data.toLocalTime()}"></label>
                    </td>

                    <td th:if="${queda.tempoFora.toSeconds() != 0}">
                        <label th:if="${queda.tempoFora.toMinutesPart() == 0}" th:text="${queda.tempoFora.toHours()} + 'h '"></label>
                        <label th:if="${queda.tempoFora.toHours() == 0}"       th:text="${queda.tempoFora.toMinutesPart()} + 'min'"></label>

                        <label th:if="${queda.tempoFora.toHours() != 0 && queda.tempoFora.toMinutesPart() != 0}"
                               th:text="${queda.tempoFora.toHours() + 'h ' + queda.tempoFora.toMinutesPart() + 'min'}"></label>

<!--                        <label th:text="'Horas: ' + ${queda.tempoFora.toHours()}"></label><br>-->
<!--                        <label th:text="'Minutos: ' + ${queda.tempoFora.toMinutesPart()}"></label>-->
                    </td>

                    <td th:if="${queda.tempoFora.toSeconds() == 0}">
                        <label class="down-label">DOWN</label><br>
                        <label class="tempoForaEnquantoDown"></label>
                    </td>

                    <td>
                        <label th:text="${queda.getUptimeFormatado()}"></label>
                    </td>

                    <td id="formFaltaDeLuz">
                        <form action="/editaFaltaDeLuz" method="POST">
                            <input class="inputPequeno" type="text" th:value="${queda.id}" id="id" name="id"
                                   hidden="hidden">
                            <input class="inputPequeno" type="text" th:value="${!queda.faltaDeLuz}" id="faltaDeLuz"
                                   name="faltaDeLuz" hidden="hidden">
                            <input class="inputPequeno paginaAtual" type="text" value="" id="paginaAtual"
                                   name="paginaAtual" hidden="hidden">
                            <button type="submit" class="btnLuz"><label class="checkFaltaDeLuz" th:value="${queda.faltaDeLuz}"></label>
                            </button>
                        </form>
                    </td>

                    <td class="protocolo" th:attr="data-id=${queda.id},
                                       data-endpoint='/editarProtocolo',
                                        data-acao='Protocolo'"
                        th:id="${'protocolo' + queda.id}"
                        onclick="abrirModal(this)"
                        th:text="${!#strings.isEmpty(queda.protocolo) ? queda.protocolo : 'Vazio'}">
                    </td>
                    <td>
                        <a th:if="${!#strings.isEmpty(queda.chamado)}"
                           th:href="'https://glpi.mp.rs.gov.br/front/ticket.form.php?id=' + ${queda.chamado}"
                           th:text="${queda.chamado + '⤴'}"
                            target="_blank">
                        </a>
                        <label th:if="${#strings.isEmpty(queda.chamado)}"> N/A</label>
                    </td>

                    <!-- Fora com chamado -->
                    <td th:if="${!#strings.isEmpty(queda.chamado) && queda.tempoFora.toSeconds() == 0}" class="controleGLPI">
                        <button type="submit" style="background-color: #e10000;"
                                th:attr="data-id=${queda.id},
                                data-endpoint='/fecharChamado',
                                data-acao='Fechamento de chamado'"
                                onclick="abrirModal(this)"
                                title="Fechar">
                            <img class="btnGLPI" th:src="@{\close.png}" alt="Fechar">
                        </button>
                        <button onclick="abrirAcompanhamento(this)"
                                th:attr="data-id=${queda.id}">
                            <img class="btnGLPI" th:src="@{\comment.png}" alt="Acompanhamento">
                        </button>
                        <div th:id="${'atribuidor' + queda.id}" class="atribuidor">
                            <button th:each="responsavel , i : ${responsaveisid}" type="submit"
                                    th:attr="data-id=${queda.id},
                                    data-endpoint='/atribuirResponsavel',
                                    data-acao='Atribuir Responsavel ?',
                                    data-abrir='false',
                                    data-dado=${responsavel}"
                                    onclick='abrirModal(this)'
                                    title="Atribuir">
                                <span th:if="${responsavel == queda.responsavel}" >>&nbsp;</span>
                                <span th:text="${responsaveis[i.index]}"></span>
                            </button>
                        </div>
                        <button title="Atribuir" onclick="atribuir(this)" th:attr="data-id=${queda.id}">
                            <img class="btnGLPI" th:src="@{\attrib.png}" alt="Atribuir" >
                        </button>
                    </td>

                    <!-- Fora sem chamado -->
                    <td th:if="${#strings.isEmpty(queda.chamado) && queda.tempoFora.toSeconds() == 0}">
                        <button type="submit"
                                th:attr="data-id=${queda.id},
                                data-endpoint='/abrirChamado',
                                data-acao='Abrir chamado'",
                                data-abrir='false'
                                onclick="abrirModal(this)"
                                title="Acompanhamento">
                            Abrir chamado</button>
                    </td>
                    <!-- Queda Resolvida -->
                    <td th:if="${queda.tempoFora.toSeconds() > 0}">
                        <button onclick="abrirAcompanhamento(this)"
                                th:attr="data-id=${queda.id}"
                                th:if="${!#strings.isEmpty(queda.chamado)}"
                        style="background-color: #0d8156;">
                            <img class="btnGLPI" th:src="@{\comment.png}" alt="Acompanhamento">
                        </button>
                        <small th:if="${#strings.isEmpty(queda.chamado)}">_</small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        const quedas = /*[[${quedas}]]*/ null;
    </script>
    <script th:src="@{/historicoQuedas.js}"></script>
    <script>
        window.addEventListener('load', () => {
            if (isToday()) {
                const evntSrc = new EventSource("/novas_quedas");
                evntSrc.onmessage = (event) => {
                    processaNovasQuedas(event)
                };
            }
        })
    </script>
</main>
</body>
</html>